

<link href="css/calendar.css" rel="stylesheet" type="text/css">
<script src="js/calendar.js" type="text/javascript"></script>



<div id="calendar">
	<table>
		<tr class="month_label_container">
			<td>
				<div class="mnav" id="prev">
					<i aria-hidden="true" class="fa fa-chevron-left"></i>
				</div>
			</td>
			<th colspan="5" id="month_label">SEPTEMBER 2017</th>
			<td>
				<div class="mnav" id="next">
					<i aria-hidden="true" class="fa fa-chevron-right"></i>
				</div>
			</td>
		</tr><!-- End of month_label_container -->
		<tr class="weeks">
			<td>SUN</td>
			<td>MON</td>
			<td>TUE</td>
			<td>WED</td>
			<td>THU</td>
			<td>FRI</td>
			<td>SAT</td>
		</tr>
		<tbody id="day_container">
			<tr id="w0">
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
			</tr>
			<tr id="w1">
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
			</tr>
			<tr id="w2">
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
			</tr>
			<tr id="w3">
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
			</tr>
			<tr id="w4">
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
			</tr>
			<tr id="w5">
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
				<td class="days"></td>
			</tr>
		</tbody>
	</table>
</div><!-- Calendar End -->
