html {
    font-size: 10px; /* Root font size */
}

body {
    background-color: #000;
}

#landing-header {
    z-index: 1;
    position: relative; 
    text-align: center;
    padding-top: 40vh;
}


#landing-header h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 1) -1px 1px 8px;
    margin-bottom: 3rem;
}

@media only screen 
  and (max-device-width: 480px)
  and (orientation: portrait) {
    
    
    #landing-header {
      padding-top: 35vh;
    }

    #landing-header h1 {
        font-size: 7rem;
        text-shadow: rgba(0, 0, 0, 1) -1px 1px 8px;
        margin-bottom: 5rem;
    }
    
    .btn {
        font-size: 4rem;
        padding-right: 5rem;
        padding-left: 5rem;
    }
    
}


.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0; /* images start faded out, use animation to change opacity to 1 */
    z-index: 0;
    animation: imageAnimation 50s linear infinite;  
    /* animation lasts 50s
       linear: animation same speed beggining to end
       infinite: loop infinetly slideshow never ends */
}

.slideshow li:nth-child(1) { 
  background-image: url("../assets/images/image1.jpg"); 
}
.slideshow li:nth-child(2) { 
  background-image: url("../assets/images/image4.jpg"); 
  animation-delay: 10s; /* we want each image to fade in 10s after the next */
}
.slideshow li:nth-child(3) { 
  background-image: url("../assets/images/image3.jpg") ;
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url("../assets/images/image2.jpg"); 
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url("../assets/images/image5.jpg") ;
  animation-delay: 40s;  /*so 50s total */
}


/* This is to change opacity */
@keyframes imageAnimation { 
  0% { /* start animation at 0*/
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {  /* all the way upto 10% (of 50s) we let it fade into 1*/
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {  /* we leave it at 1 till 20%*/
    opacity: 1
  }
  30% {
    opacity: 0 /* we fade it back out at 30%*/
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}