
/*-------------------------------------------------------*/
/*-------------------- GLOBAL STYLES --------------------*/
/*-------------------------------------------------------*/

html {
  font-size: 10px;
  font-weight: 300;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: rgba(231, 231, 231,0.5);  
  margin-bottom: 3rem;
}

/*---------- Headings ----------*/

h1, h2, h3, h4, h5 {  margin:0; padding: 0;}
h1, h2, h3 {font-family: 'Roboto Slab', serif;}
h1 { font-size: 4.5rem; font-weight: 700; }
h2 { font-size: 3.5rem; font-weight: 700; }
h3 { font-size: 3.0rem; font-weight: 500; }
h4 { font-size: 2.3rem; font-weight: 500; }
h5 { font-size: 2.1rem; font-weight: 500; }

@media (max-width: 480px) {
  h1 { font-size: 4.0rem; font-weight: 700; }
  h2 { font-size: 2.5rem; font-weight: 700; }
  h3 { font-size: 2.1rem; font-weight: 500; }
  h4 { font-size: 1.9rem; font-weight: 500; }
  h5 { font-size: 1.8rem; font-weight: 500; }
}

/*------------- hr -------------*/

hr        { margin: 0; }
hr.blue   { border-top: 3px solid midnightblue;            }
hr.blueThin   { border-top: 1px solid midnightblue;        }
hr.white  { border-top: 3px solid white;                   }
.hrshadow { box-shadow: -1px 1px 8px 0px rgba(0, 0, 0, 1); }

/*---------- shadows -----------*/

.tshadow  { text-shadow: rgba(0, 0, 0, 1) -1px 1px 8px; }

/*--------- label, dt ----------*/

label, dt { font-weight: 500; color: midnightblue; margin-bottom: 1rem; }

/*-------- Font Styling --------*/

strong { font-weight: 500; color: midnightblue; }

/*----------- Buttons ----------*/

.btn    { border-radius: 0px; padding: 0.2rem 2rem;  }
.submit { padding: 0.5rem 2rem; margin-top: 2rem; }

@media (max-width: 767px) {
  .buttonBox .btn             { display: block; width: 100%; margin-bottom: 1rem; }
  .buttonBox .btn:last-child  { margin-bottom: 0rem;                              }
}

/*-------------------------------------------------------*/
/*---------------------- FRONT PAGE ---------------------*/
/*-------------------------------------------------------*/

.jumbotron {
  color: white;
  background-image: url("../assets/images/jumbobackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 95%;
  min-height:400px;
}

.jumbotron hr {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 650px) {
  .jumbotron {
    min-height:300px;
  }
}

@media (max-width: 1199px) {
  .jumbotron {
    margin-bottom: 2rem;
  }
}

.eventBox {
  padding: 0;
  background: white;
  margin-bottom: 3rem;
  width: 100%;
}

@media (max-width: 1199px) {
  .eventBox:first-child {
    margin-top: 2rem;
  }
  .eventBox {
    margin-bottom: 2rem;
  }
}

.eventBox:last-child {
  margin-bottom: 0;
}

.eventBoxHeading {
  min-height: 25px;
  padding: 10px 1rem;
  color: white;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  background: midnightblue;
}

.eventBoxContent {
  padding: 2rem;
}

.eventBoxImg {
  height: 200px;
  width: 100%;
  border: 1px solid midnightblue;
}

@media (max-width: 767px) {
  .eventBoxImg {
     margin-bottom: 1.5rem;
  }
}

.emptyImage {
  text-align: center;
  font-size: 1.3rem;
  background-color: rgba(231, 231, 231,0.3);  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  height: 200px;
  border: 1px solid midnightblue;
}

.emptyImage i {
  font-size: 3rem;
  margin-bottom: 1rem;
}


 
/*-------------------------------------------------------*/
/*-------------------- PAGE STRUCTURE -------------------*/
/*-------------------------------------------------------*/

/*---------- Sidebar and Content Area ----------*/

/*----- Left + Right Padding -----*/

.sidebar.col-md-3 {
  padding-left: 0;
  padding-right:3rem;
}

.contentArea.col-md-9 {
  padding-left:3rem;
  padding-right: 0;
}

.contentArea.col-md-9 { 
  border-left: 3px solid midnightblue;
}

@media (max-width: 991px) {
  .sidebar.col-md-3 {
    padding:0rem;
  }
  .contentArea.col-md-9 {
    padding: 0rem;
    border:0px;
  }
}

@media (min-width: 1200px) { /*Front Page*/
  .contentArea.col-lg-8 {
    border-left: 3px solid midnightblue;
    padding-left:3rem;
  }
  .sidebar.col-lg-4 {
    padding-right:3rem;
  }
}

/*------------ Section -----------*/
/* Used in new, edit pages */

.sidebar section:first-child {
    border: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
}

@media (min-width: 992px) {
  .contentArea section:first-child  {
    border-top: 0px;
    padding-top: 0px;
  }
}

@media (max-width: 991px) {
  .sidebar section:first-child  {
    border-bottom: 0px;
  }
}





/*-------------------------------------------------------*/
/*---------------------- PAGE TITLES --------------------*/
/*-------------------------------------------------------*/

.title {
    color: midnightblue;
    background-color: rgba(231, 231, 231,0.5);  
    padding: 1rem 2rem;
}

.showUserTitle:before {
    font-family: FontAwesome;
    content: "\f007";
    margin-right: 2rem;
}

.registerTitle:before {
    font-family: FontAwesome;
    content: "\f234";
    margin-right: 2rem;
}

.addEventTitle:before {
     font-family: FontAwesome;
     content: "\f271";
     margin-right: 2rem;
}

.editEventTitle:before {
     font-family: FontAwesome;
     content: "\f044";
     margin-right: 2rem;
}

.eventTitle:before {
     font-family: FontAwesome;
     content: "\f073";
     margin-right: 2rem;
}

.loginTitle:before {
     font-family: FontAwesome;
     content: "\f09c";
     margin-right: 2rem;  
}

/*-------------------------------------------------------*/
/*-------------------- FORM STYLING ---------------------*/
/*-------------------------------------------------------*/


form section:first-child {
    border-top: 1px solid rgb(231, 231, 231);
}

form section {
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgb(231, 231, 231);
}

form section .form-group {
  margin-bottom: 0;
}

form section p {
  margin-bottom: 0;
}

form section section {
  display: inline;
  border-bottom: 0px;
}

@media (max-width: 991px) {
  #theDateGroup, #organizerName {
    margin-bottom: 25px;
  }
  #mapContainer {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  #startTimeGroup, #eventCost {
    margin-bottom: 25px;
  }
}


/*-------- label --------*/

form #imageRec label {
  color: darkgreen;
}

label.required:after {
  content:" *";
  margin-left: 0.5rem;
  color:red;
}

/*-------- Input --------*/

form input {
  margin-bottom: 3px;
}

form .input-group {
  margin-bottom: 3px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea:focus{
  border-color: midnightblue;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(25, 25, 112,0.5);
  outline: 0 none;
}


/*--- Location Section ---*/

.pac-item a {
  color: #337ab7;
}

.checkbox {
  display: inline;
}

#resetLocation {
  margin-right: 4rem;
}

.checkbox label, .checkbox p  {
    padding-left: 0px;
    margin-left: 2.7rem;
}

.checkbox input[type=checkbox] {
  margin-left: 0px;
}

#resetLocation, #enterAddress, .checkboxLabel {
  font-size: 1.3rem;
  font-weight: 300;
}

#resetLocation:before {
    font-family: FontAwesome;
    content: "\f021";
    margin-right: 1rem;
}

#enterAddress:before {
    font-family: FontAwesome;
    content: "\f041";
    margin-right: 1rem;
}

#locationContainer .form-group {
  margin-bottom: 15px;
}
#locationDetails .row:nth-last-child(2) .form-group {
   margin-bottom: 3px;
}

@media (max-width: 991px) {
  #resetLocation {
    display: block;
    margin-bottom: 1rem;
    margin-top: 0.6rem;

  }
}

/*---- Image Section ----*/


#imageRec {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#imageBorder {
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ccc;
}

#imageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dropbox {
  border-radius: 5px;
  text-align: center;
  color: gray;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(231, 231, 231,0.5);
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  padding: 1rem;
}

#dropbox i {
  font-size: 3rem;
}

#dropbox p {
  font-size: 1.3rem;
  margin-top: 1rem;
}

#preview {
  text-align: center;
  height: 100%;
  margin-bottom: 2%;
  padding: 0px;
}

#uploadedImage {
  border-radius: 5px; 
}



/*----- Placeholder -----*/

.placeholderColor { color: #cccccc }
.form-control::-webkit-input-placeholder { color: #cccccc  }
.form-control:-moz-placeholder { color: #cccccc  }
.form-control::-moz-placeholder { color: #cccccc }
.form-control:-ms-input-placeholder { color: #cccccc }

/*------ DatePicker -----*/

input::-webkit-calendar-picker-indicator{ /* Disable native datepicker popup */
    display: none;
}

/*---- Error and Tip ----*/

.error, .tip {
    font-size: 1.3rem;
}

.error {
  color: rgb(206, 17, 0);
}

.error p:before {
    font-family: FontAwesome;
    content: "\f071";
    margin-right: 1rem;
}

.errorBackground {
   background-color: rgba(248, 237, 237, 0.5) !important;
}

.tip {
  color: darkgreen;
}

.tip:before {
    font-family: FontAwesome;
    content: "\f05a";
    margin-right: 1rem;
}

.imageTip {
  color: darkgreen;
  margin-bottom: 1.5rem;
}

#imageError.error {
  margin-top: 0.5rem;
}


/*-------------------------------------------------------*/
/*----------------------- SHOW PAGE ----------------------*/
/*-------------------------------------------------------*/

.list-group-item {
  padding: 2rem 0 2rem 0.3rem;
}

.contentArea .list-group-item,
.sidebar .list-group-item {
   border-radius: 0px;
   border-left: 0px;
   border-right: 0px;
}

.sidebar .list-group-item:first-child  {
  border-top: 0px;
  padding-top: 0px;
}

@media (min-width: 992px) {
  .contentArea .list-group-item:first-child  {
    border-top: 0px;
    padding-top: 0px;
  }

}

@media (max-width: 991px) {
  .contentArea .list-group-item:first-child  {
    border-top: 0px;
  }
}

#eventDescDisplay {
  white-space: pre-line;
}

#sEventImage {
  max-width: 100%;
}

#showMapp {
  background: pink;
  width: 100%;
  height: 200px;
}

/*---------------------- USER PROFILE --------------------*/

#userGreeting { 
    padding: 1rem 0;
    margin-bottom: 3rem;
    border-top: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);
}

#numEvents {
  margin-left: 1rem;
}

#userGreeting label {
  margin-bottom: 0;
}

.profileCheckbox p {
  display: inline;
  margin-left: 1rem;
}

/*----------------- API: GOOGLE PLACES ------------------*/

.pac-container {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#googleMap {
   border-radius: 5px;
   width: 100%;
   height: 100%;

}

#mapContainer {
  box-sizing: border-box;
}

#mapBorder {  
  padding: 5px;
  border-radius: 5px;
  width: 100%; 
  box-sizing: border-box;
  height: 100%;
  border: 1px solid #ccc;
}

#noMapAvailContainer {
   border-radius: 5px;
   width: 100%;
   height: 100%;
   background-color: #e7e7e7;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#noMapAvailable {
     margin: 0 auto;
     text-align: center;
     color: gray;
     text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

#noMapAvailable i {
    font-size:4rem;
}

#noMapAvailable p {
    font-size: 2rem;
    margin-top: 1rem;
}

/*-------------------------------------------------------*/
/*------------------- FLASH MESSAGING -------------------*/
/*-------------------------------------------------------*/

.flash {
  padding: 0;
}

.flashSuccess, .flashError {
    padding: 1.5rem 4rem 1.5rem 4rem;
}

.flashSuccess {
  background:   #e6fff2;
}

.flashError {
  background: #ffe6f0;
}

@media (max-width: 650px) {
  .flashSuccess, .flashError {
    padding: 1.2rem 2rem 1.2rem 2rem;
  }
}


/*-------------------------------------------------------*/
/*-------------------- NO JAVASCRIPT --------------------*/
/*-------------------------------------------------------*/

.nojs {
  color: white;
  background: green;
  width: 100%;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
  margin:0;
}

.nojs p {
  margin-bottom: 0;
}
.nojs a {
  color: lightsalmon;
}
/*-------------------------------------------------------*/
/*--------------------- MISCELANIOUS --------------------*/
/*-------------------------------------------------------*/

.pushNextDownLg {
   margin-bottom: 5rem;
}

.pushNextDownMd {
   margin-bottom: 3rem;
}

.pushUp {
  margin-top: 3rem;
}

@media (max-width: 991px) {
  .pushNextDownLg {
     margin-bottom: 4.0rem;
  }
  .pushNextDownMd {
     margin-bottom: 2.0rem;
  }
}

.frontPagePadding {
   padding: 0 2rem;
}

.pagePadding {
  padding:4rem;
}

@media (max-width: 1199px) {
  .frontPagePadding {
    padding: 0;
  } 
}

@media (max-width: 650px) {
  .pagePadding {
    padding: 2rem;
  }
}

.whiteBackground {
   background-color: white;
}

.shadow {
  box-shadow: 0 0 50px rgba(0, 0, 0, .1);
}

.hidden {
    display: none;
}

.bottomed {
  margin-top: 4rem;
}

.inline {
  display: inline;
}

.errorPageImage {
  width: 100%;
  
}
/*-------------------------------------------------------*/
/*-------------------- QUERY TESTERS --------------------*/
/*-------------------------------------------------------*/


/* Differentiate between medium and large */
.mediaQueryTesterML {
  float: left;
}
@media (min-width: 1200px) {
   .mediaQueryTesterML {
      float: right;
    }
}

/* Differentiate between medium and small */

.mediaQueryTesterMS { /*use for jquery*/
  float: left;
}
 @media (min-width: 992px) {
   .mediaQueryTesterMS {
      float: right;
    }
 }
 
 

/* Differentiate between small and xsmall */

.mediaQueryTesterSXS { /*use for jquery*/
  float: left;
}
 @media (min-width: 768px) {
   .mediaQueryTesterSXS {
      float: right;
    }
 }
 
 