

body {
    font-weight: 300;
    margin-bottom: 15rem;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}


h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}


hr.firsthr {
  border-top: 3px solid midnightblue;
  margin-top: 0;
  margin-bottom: 6rem;
}

hr.lasthr {
  border-top: 3px solid midnightblue;
  margin-top:3rem;
}

hr.divider {
   margin-top: 0;
   margin-bottom: 2.5rem;
}


/*--------------------- FRONT PAGE ---------------------*/

.jumbotron {
  margin-top: -6rem;
  margin-bottom: 6rem;
  background-image: url("../assets/images/jumbobackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  background-position: 0% 20%;
}


.jumbotron h1, .jumbotron h2 {
    color: white;
    text-shadow: 1px 0px 6px rgba(43, 43, 43, 1);
}

.jumbotron h1 {
  font-size: 8rem;
}

.jumbotron h2 {
  font-size: 3.2rem;
}

.jumbotron hr {
    border: 2px solid white;
    box-shadow: 1px 0px 6px 0px rgba(43, 43, 43, 0.75);
}

/*-------------------- FORM STYLING --------------------*/

form section:first-child {
    border-top: 1px solid rgb(231, 231, 231);
}

form section {
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgb(231, 231, 231);
}

form section .form-group {
  margin-bottom: 0;
}

form section p {
  margin-bottom: 0;
}

form section section {
  padding: 0;
  display: inline;
  border-bottom: 0px;
  
}
/*-------- label --------*/

form label {
    font-weight: 700;
    margin-bottom: 1rem;
}

label.required:after {
  content:" *";
  margin-left: 0.5rem;
  color:red;
}

/*-------- Input --------*/

form input {
  margin-bottom: 3px;
}

form .input-group {
  margin-bottom: 3px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea:focus{
  border-color: midnightblue;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(25, 25, 112,0.5);
  outline: 0 none;
}

/*--- Location Section ---*/


.pac-item a {
  color: #337ab7;
}

.checkbox {
  display: inline;
}


#resetLocation {
  margin-right: 4rem;
}

.checkbox label  {
    padding-left: 0px;
    margin-left: 2.7rem;
}

.checkbox input[type=checkbox] {
  margin-left: 0px;
}

#resetLocation, #enterAddress, .checkboxLabel {
  font-size: 1.3rem;
  font-weight: 300;
}

#resetLocation:before {
    font-family: FontAwesome;
    content: "\f021";
    margin-right: 1rem;
}

#enterAddress:before {
    font-family: FontAwesome;
    content: "\f041";
    margin-right: 1rem;
}




#locationContainer .form-group {
  margin-bottom: 15px;
}
#locationDetails .row:nth-last-child(2) .form-group {
   margin-bottom: 3px;
}

@media (max-width: 991px) {
  #resetLocation {
    display: block;
    margin-bottom: 1rem;
    margin-top: 0.6rem;

  }
}

/*---- Image Section ----*/


#imageRec {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#imageBorder {
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ccc;
}

#imageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dropbox {
  border-radius: 5px;
  text-align: center;
  color: gray;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(231, 231, 231,0.5);
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
}

#dropbox i {
  font-size: 3rem;
}

#dropbox p {
  font-size: 1.3rem;
  margin-top: 1rem;
}

#preview {
  text-align: center;
  height: 100%;
  margin-bottom: 2%;
  padding: 0px;
}

#uploadedImage {
  border-radius: 5px; 
}



/*----- Placeholder -----*/

.placeholderColor { color: #cccccc }
.form-control::-webkit-input-placeholder { color: #cccccc  }
.form-control:-moz-placeholder { color: #cccccc  }
.form-control::-moz-placeholder { color: #cccccc }
.form-control:-ms-input-placeholder { color: #cccccc }

/*------ DatePicker -----*/

input::-webkit-calendar-picker-indicator{ /* Disable native datepicker popup */
    display: none;
}





/*---- Error and Tip ----*/

.error, .tip {
    font-size: 1.3rem;
}

.error {
  color: rgb(206, 17, 0);
}

.error p:before {
    font-family: FontAwesome;
    content: "\f071";
    margin-right: 1rem;
}

.errorBackground {
   background-color: rgba(248, 237, 237, 0.5) !important;
}

.tip {
  color: darkgreen;
}

.tip:before {
    font-family: FontAwesome;
    content: "\f05a";
    margin-right: 1rem;
}

.imageTip {
  color: darkgreen;
  margin-bottom: 1.5rem;
}

#imageError.error {
  margin-top: 0.5rem;
}


/*-------- Submit -------*/

.formSubmit {
    margin-top: 2rem;
}

/*---------------- BUTTON PRIMARY OVERRIDE ---------------*/

.btn-primary {
  color: #fff;
  background-color: midnightblue;
  border-color: #130269;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #22229A;
  border-color: #130269;
}
.btn-primary:hover {
  color: #fff;
  background-color: #22229A;
  border-color: #141424;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #22229A;
  border-color: #141424;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #141424;
  border-color: #130269;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #101046;
  border-color: #130269;
}
.btn-primary .badge {
  color: midnightblue;
  background-color: #fff;
}

/*--------------------- PAGE STYLING ---------------------*/


.addEventTitle:before {
     font-family: FontAwesome;
     content: "\f271";
     margin-right: 2rem;
}

.editEventTitle:before {
     font-family: FontAwesome;
     content: "\f044";
     margin-right: 2rem;
}

.eventTitle:before {
     font-family: FontAwesome;
     content: "\f073";
     margin-right: 2rem;
}

.sidebar.col-md-3 {
  padding-left: 0;
  padding-right:3rem;
}

.sidebar.col-lg-3 {
  padding-left: 2%;
  padding-right:3.5%;
}

.contentArea .list-group,
.sidebar .list-group {
   margin-bottom: 0rem;
   margin-top: 0rem;
}

.contentArea .list-group-item,
.sidebar .list-group-item {
   border-radius: 0px;
   border-left: 0px;
   border-right: 0px;
}

.contentArea {
  border-left: 3px solid midnightblue;
}

.contentArea.col-md-9 {
  padding-left:3rem;
  padding-right: 0;
}

.contentArea.col-lg-9 {
  padding-left:3%;
  padding-right: 2%;
}

.sidebar dt,
.contentArea dt {
   margin-bottom: 1rem;
}

.list-group-item {
  padding: 2rem 0 2rem 0.3rem;
}

@media (max-width: 991px) {

  .sidebar.col-md-3 {
    padding-right:0rem;
  }
  .contentArea {
    border-left: 0px;
  }
  .conentArea.col-md-9 {
    padding-left:0rem;
    padding-right: 0px;
  }
  .contentArea .list-group-item:first-child {
    border-top: 0px;
  }

}

/*----------------------- SHOW PAGE ----------------------*/

/*dd {
  word-break: break-all;
}
*/

#eventDescDisplay {
  white-space: pre-line;
}

#sEventImage {
  max-width: 100%;
}

#showMapp {
  background: pink;
  width: 100%;
  height: 200px;
}

/*------------------------ NAVBAR -----------------------*/

.navbar-full {
 margin-bottom: 6rem;
}
.navbar-custom {
  background-color:midnightblue;
  border-color: #131360;
  font-size: 1.6rem;
  font-weight: 500;
}

.navbar-custom .navbar-brand {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #fff;
  font-weight: bold;
  background-color: transparent;
}

.navbar-custom .navbar-text {
  color: #fff;
}
.navbar-custom .navbar-nav > li > a {
  color: #fff;
}
.navbar-custom .navbar-nav > li > a:hover,
navbar-custom .navbar-nav > li > a:focus {
  color: #fff;
  font-weight: bold;
  background-color: transparent;
}
navbar-custom .navbar-nav > .active > a,
navbar-custom .navbar-nav > .active > a:hover,
navbar-custom .navbar-nav > .active > a:focus {
  color: pink;
  background-color: green;
}
navbar-custom .navbar-nav > .disabled > a,
navbar-custom .navbar-nav > .disabled > a:hover,
navbar-custom .navbar-nav > .disabled > a:focus {
  color: pink;
  background-color: transparent;
}
navbar-custom .navbar-toggle {
  border-color: orange;
}
navbar-custom .navbar-toggle:hover,
navbar-custom .navbar-toggle:focus {
  background-color: olive;
}
navbar-custom .navbar-toggle .icon-bar {
  background-color: peru;
}
navbar-custom .navbar-collapse,
navbar-custom .navbar-form {
  border-color: red;
}
navbar-custom .navbar-nav > .open > a,
navbar-custom .navbar-nav > .open > a:hover,
navbar-custom .navbar-nav > .open > a:focus {
  color: navy;
  background-color: orange;
}
@media (max-width: 767px) {
  navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: pink;
  }
  navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: red;
  }
  navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
navbar-custom .navbar-link {
  color: #777;
}
navbar-custom .navbar-link:hover {
  color: #333;
}
navbar-custom .btn-link {
  color: #777;
}
navbar-custom .btn-link:hover,
navbar-custom .btn-link:focus {
  color: #333;
}
navbar-custom .btn-link[disabled]:hover,
fieldset[disabled] navbar-custom .btn-link:hover,
navbar-custom .btn-link[disabled]:focus,
fieldset[disabled] navbar-custom .btn-link:focus {
  color: orange;
}


/*------------------------ OTHER -----------------------*/


.inline {
    display: inline;
}

.bottomed {
    margin-top: 1.5rem;
}

.hidden {
    display: none;
}

.center {
  text-align: center;
}

/*----------------- API: GOOGLE PLACES ------------------*/

.pac-container {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#googleMap {
   border-radius: 5px;
   width: 100%;
   height: 100%;

}

#mapContainer {
  box-sizing: border-box;
}

#mapBorder {  
  padding: 5px;
  border-radius: 5px;
  width: 100%; 
  box-sizing: border-box;
  height: 100%;
  border: 1px solid #ccc;
}

#noMapAvailContainer {
   border-radius: 5px;
   width: 100%;
   height: 100%;
   background-color: #e7e7e7;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#noMapAvailable {
     margin: 0 auto;
     text-align: center;
     color: gray;
     text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

#noMapAvailable i {
    font-size:4rem;
}

#noMapAvailable p {
    font-size: 2rem;
    margin-top: 1rem;
}


/*-------------------- INDEX PAGE ---------------------*/

.listingImg {
  height: 200px;
  width: 300px;
}

.darkestshadow {
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

.darkshadow {
  box-shadow: 0 0 50px rgba(0, 0, 0, .5);
}

.shadow {
  box-shadow: 0 0 50px rgba(0, 0, 0, .2);
}

.lightshadow {
  box-shadow: 0 0 50px rgba(0, 0, 0, .1);
}

.thumbnail {
  padding: 3rem;
  border: 0;
}

.thumbnail h3 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.thumbnail p {
  font-size: 1.7rem;
}

.jumbotron {
  position: relative;
  z-index: -1;
}