<% include ../partials/header %>


<script type="text/javascript" src="/js/loginregister.js"></script>

<div class="container lightshadow pagePadding whiteBackground">
    
    
    
    
    <div class="title">
        <h2 class="registerTitle">Sign Up</h2>
    </div>
        
    <hr class="blue pushNextDownMd"> 
    
    <form action="/user" method="POST" onSubmit="return(shouldSubmit(this));" novalidate >
        
         
         <div class="form-group">
            <label for="username">Username</label>
            <input name="username" type="text" class="form-control" id="username">
          </div>
          <div id="usernameError" class="error hidden">
          </div>
          
          <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password">
          </div>
          <div id="passwordError" class="error hidden">
          </div>
          
         <button type="submit" class="btn btn-primary btn-lg btn-block submit pushUp">Submit</button>
        
    </form>
    
    
    
</div>


<% include ../partials/footer %>